
<!-- <app-header></app-header> -->
<!-- <h1>Technovate</h1> -->
<!-- <i class="fa-solid fa-bars"></i> -->

 <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <a  class="navbar-brand px-3" href="#">Technovate</a>

    <div class="navbar-collapse"></div>
    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Logout
        </button>

    </div>

</nav> 
