<!-- <p>side-nav works!</p>
<app-side-nav></app-side-nav> -->
<div class="side nav content">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
        <li class="nav-list-item">
            <span>
                <a href="#">Option1</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="#">Option2</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="#">Option3</a>
            </span>
        </li>
    </ul>
</div>