app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}
main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-side-nav{
    position: absolute;
    left: 0rem;
    width: 0px;
    /* height: calc(100vh - 4rem); */
    height: 648px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(39, 203, 248);
    border-top: 1px solid white;
}
.nav-list-open .nav-list-item:hover {
    background-color: black;
    border-radius: 10px;
}
.app-side-nav-open {
    width: 250px;
}
.display-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
}
.app-side-nav-open {
    width: 250px;
}